*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000;
  color: #fff;
}
.header
{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image/header-image.png);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo
{
  width: 150px;
  cursor: pointer;
}
nav button{
  border: 0;
  outline: 0;
  background: #db0001;
  color: white;
  font-size: 12px;
  border-radius:4px ;
  margin-left: 10px;
  cursor: pointer;
  padding: 7px 10px;
}
.languagebuttom
{
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid #fff;
  padding: 7px 10px;
}
.languagebuttom img{
  width: 10px;
  margin-left: 10px;
}
.lemi
{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content h1{
  font-size: 60px;
  line-height: 70px;
  max-width: 650px;
  text-align: center;
}
.header-content h3{
  margin-top: 5px;
  text-align: center;
}
.header-content p{
  text-align: center;
  margin-top: 15px;
}
.header-content form{
  margin-top: 10px;
display: flex;
justify-content: center;
 
}
.email
{
  width: 80%;
  height: 40px;
  border: none;
  padding-left: 10px;
  overflow: hidden;
}
.but1
{
  width:30%;
  font-size: 1.5rem;
  background-color: #db0001;
  border: none;
  color: white;
}
.section2{
  /* border-top: 5px solid gray; */
  padding: 100px 2%;
}
.section2 .row
{
  
  /* border: 1px solid red; */
 display: flex;
 background-color: #000;
 align-items: center;
 flex-wrap: wrap;
 padding: 50px 0;
 font-size: 1.5rem;
}
.col1,.col2{
  flex-basis:50%;
  /* border: 1px solid red; */
  margin-bottom: 20px;
}
.col1 h1{

  
}
.col1{

}
.col1 p{
  margin-top: 15px;
  
  width: 100%;
}
.col2 img
{
  display: block;
  /* border: 1px solid red; */
width: 90%;
margin: auto;

} 

/* faq */

.faq h2
{
  padding: 10px 12%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  
}
.container
{
  
  max-width: 100%;
  display: flex;
margin: auto;
  justify-content: center;
 
 
}
.container label
{
padding-bottom: 10px;

font-size: 1.5rem;
border-radius: 2px solid black;
cursor: pointer;

}
.accordino label
{display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 20px;
  background-color: rgb(114, 125, 125);
 flex-basis: 100%;
}


.faq .container input[type="radio"]
{

  display: none;
}
.faq .container label{
  line-height: 40px;
  height: 40px;
}
.faq ul li 
{
  list-style: none;
}
.faq ul li p{
  max-width: 550px;
}
.faq ul li .content{
  overflow: hidden;
  max-height: 0;
  transition: 0.5s ease-in-out;
}
.accordino input[type="radio"]:checked+label +.content{
  max-height: 600px;
  padding: 30px 20px;
}
/* section--3 */


.section3
{
  width: 100%;
  text-align: center;
}
form 
{
 border: 1px solid red;
 display: flex;
 flex: 1;
 width: 600px;
 justify-content: center;
}
.center1
{
 width: 100%;
 display: grid;
 place-items: center;
 margin-top: 14px;
}
.lemi1 P
{
margin-top: 40px;
}
.section4
{
  margin-top: 10%;
  width: 900px;
  margin-left: 20%;
 /* border:1px solid red; */
}
.section4 p{
color: grey;
  text-align: left;
}
.row1
{
margin-top: 20px;
display: flex;
justify-content: space-evenly;

margin-right: 20%;
}
.col11,.col12,.col13,.col14
{
  color: gray;
  line-height: 35px;
  flex: 1;
  text-align: left;
  padding: 5px 5px;
  /* border: 1px solid red; */
margin-right: 20px;  
}

/* section-5*/
.section5
{
  margin-top: 20px;
text-align: left;
}
.section5 button

{
  display: inline-flex;
  align-items: center;
  padding: 15px 35px;
border-color: gray ;
  border-radius: 2px;
  color: aliceblue;

  background: transparent;
}
.section5 p

{
  margin-top: 10px;
  
  
}
.section5 button img{
  width: 10px;
  margin-left: 10px;
 
}



/* -----media quaries */

@media only screen and (max-width:600px)
{
  .logo
  {
    width: 100px;
  }
  nav :
}